.game-item-container {
  position: relative; /* Added to enable absolute positioning */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.game-item-container:hover {
  filter: grayscale(0.6);
}
.game-item-price {
  background-color: #f0d508;
  width: fit-content;
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.play-icon {
  position: absolute; /* Added to position the element over the game item */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the element */
  width: 4rem; /* Adjust the size as needed */
  height: 4rem;
  z-index: 1; /* Ensures that the element appears over the game item */
  opacity: 1; /* Adjust the opacity as needed */
  background-repeat: no-repeat;
  background-size: contain; /* Added to fit the image inside the container */
  background-position: center; /* Added to center the image inside the container */
}

.game-item-container:hover .game-item-price {
  background-color: #1664da;
  color:white;
}

.game-item-price span {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
