nav {
  background-color: #79c000;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  font-size: 24px;
  margin: 0 20px;
}

button {
  background-color: #165bda;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #e8eee8;
  color: black;
}
